{
    "algorithm_": {
        "NAME": "sha256",
        "MAX": "FFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFF",
        "VNODE_HASH_INTERVAL": "1fffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffff"
    },
    "algorithmMax_": null,
    "vnodeCount_": 8,
    "vnodesBignum_": null,
    "VNODE_HASH_INTERVAL": null,
    "pnodes_": [
        "tcp://10.12.26.19:2030",
        "tcp://10.12.27.51:2030"
    ],
    "pnodeToVnodeMap_": {
        "tcp://10.12.26.19:2030": {
            "0": 1,
            "2": 1,
            "4": 1,
            "6": 1
        },
        "tcp://10.12.27.51:2030": {
            "1": 1,
            "3": 1,
            "5": 1,
            "7": 1
        }
    },
    "vnodeToPnodeMap_": {
        "0": {
            "pnode": "tcp://10.12.26.19:2030"
        },
        "1": {
            "pnode": "tcp://10.12.27.51:2030"
        },
        "2": {
            "pnode": "tcp://10.12.26.19:2030"
        },
        "3": {
            "pnode": "tcp://10.12.27.51:2030"
        },
        "4": {
            "pnode": "tcp://10.12.26.19:2030"
        },
        "5": {
            "pnode": "tcp://10.12.27.51:2030"
        },
        "6": {
            "pnode": "tcp://10.12.26.19:2030"
        },
        "7": {
            "pnode": "tcp://10.12.27.51:2030"
        }
    },
    "vnodeData_": [],
    "msg": "",
    "time": "2018-11-16T22:03:53.367Z",
    "version": 0
}
